*{
	
	margin:0;
	padding:0;
}
body{
	background-image: url('../images/images3.jpg');
	background-size:100% 700px;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	padding: 20px;
	
}
h2{
	text-align: center;
	padding: 20px;
	
}
.register{
	background: #2d85b0;
	width:500px;
	margin:0px 0px 0px 430px;
	color:white;
	font-size: 18px;
		padding: 20px;
	border-radius:10px;
}
#register{
	margin-left:50px;
}
label{
	color:white;
	font-family: sans-serif
	font-size: 18px;
	font-style: italic;
}
#name{
	width:300px;
	border:none;
	border-radius:3px;
	outline:0;
	padding:7px;
}
#ph{
		width:100px;
	padding: 7px;
	border: none;
	border-radius: 3px;
	outline: 0;
}
#num{
		width:230px;
	padding: 7px;
	border: none;
	border-radius: 3px;
	outline: 0;
}
#sub{
	width: 200px;
	padding: 7px;
	font-size: 16px;
	font-family: sans-serif;
	font-style: italic;
	font-style: italic;
	font-weight:600;
	border:none;
	border-radius: 3px;
	outline:0;

	