<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link  rel="stylesheet" type="text/css" href="signup.css" >
</head>

	<body>
	<h1>Registration Form</h1>
	<div class="register">
	<h2>Register</h2>
	<form method="post" id="register" action="">
	
	<label> First Name :</label><br>
	<input type="text" name="fname" id="name"
	placeholder="Enter your First name"><br><br>
	
	<label> Last Name :</label><br>
	<input type="text" name="lname" id="name"
	placeholder="Enter your Last name"><br><br>
	<label> Phone Number :</label><br>
	<select id="ph">
		<option>+1</option>
		<option>+92</option>
	</select>
	<input type="number" name="pnum" id="num"
	placeholder="Enter Phone Number"><br><br>
	
	<label> Email :</label><br>
	<input type="email" name="email" id="name"
	placeholder="Enter your Email"><br><br>
	
	<label> Password :</label><br>
	<input type="password" name="pass" id="name"
	placeholder="Enter your Password"><br><br>
	
	<label> Re Enter Password :</label><br>
	<input type="password" name="pass" id="name"
	placeholder="Enter your Password"><br><br>
	
	<label> Gender :</label><br>
	<input type="radio" name="male" id="male"><span 
	id="male">&nbsp; Male</span>&nbsp;&nbsp;
	
	<input type="radio" name="male" id="male"><span 
	id="male">&nbsp; female</span>&nbsp;&nbsp;
	
	<input type="radio" name="male" id="male"><span 
	id="male">&nbsp; Other</span>&nbsp;&nbsp;<br><br>
	<input type="submit" value="Submit" id="sub">
	
	</form>
	</div>

  </body>
</html>
